.search_container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search_results {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: none;
  z-index: 1000;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  max-height: 300px;
}
