.search_container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search_results {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: none;
  z-index: 1000;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.result_item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: rgb(195, 199, 236);
  }

  &:last-child {
    border-bottom: none;
  }
}

.username {
  font-size: 16px;
  color: #999;
}
